body{
    background-color: whitesmoke;
}
.headLine{
    background-color: white;
    border-style: solid;
    border-color: black;
    margin: 10px 0px;
    padding: 15px 0px;
}
.cardsize{
    padding: 53px;
    margin: 22px;
}
.eventBox{
    /* border: 1px; */
    /* border-radius: 1px; */
    border-style: solid;
    border-color: black;
    height: 189px;
    background-color: white;
}
.btn{
    margin-top: 3px;
    border-radius: 5px;
    margin-right: 5px;
    size: 10px;
}

.row{
    margin-top: 10px;
}